@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.news{
    background-color: #F2F2F2;
    width: 100%;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Lato", serif;

    h2 {
            font-family: "Lato", serif;
            font-weight: 700;
            line-height: 1.5rem;
        }

    @media screen and (max-width: 48rem) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
    }

    form {
        
    }

    input {
            background: #fff;
            width: 17rem;
            height: 3rem;
            margin-right: 0.5rem;
            padding: 0 1rem;
            outline: none;
            color: #585858;
            font-size: 12px;
            font-weight: 700;
            border-radius: 0.31rem;
            &:focus {
                border: 1px solid #bdbdbd;
            }

            &.error {
                border: 1px solid #d7182a;
                border-radius: 0.31rem;
            }

        @media screen and (max-width: 48rem) {
                width: 20rem;
        }
    }

    button {
        background-color: #000;
        color: #fff;
        font-weight: 700;
        width: 150px;
        transition: background-color 0.3s ease;
        border-radius: 0.3125rem;
        height: 3rem;
        transition: opacity 0.4s ease;

        &:hover {
            background-color: #393939;
        }

        @media screen and (max-width: 48rem) {
            width: 20rem;
        }
    }

    &__div-form {

                display: flex;
                margin-top: 20px;
                font-family: "Lato", serif;

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;

                    span{
                        color: #D7182A;
                        font-weight: 400;
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }

                @media screen and (max-width: 48rem) {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                }
        
    }

    &__form-sucess{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
                background-color: #000;
                color: #fff;
                font-weight: 700;
                width: 250px;
                transition: background-color 0.3s ease;
                border-radius: 0.3125rem;
                height: 3rem;
                transition: opacity 0.4s ease;
                margin-top: 1rem;
                &:hover {
                    background-color: #393939;
                }
        
                @media screen and (max-width: 48rem) {
                    width: 20rem;
                }
            }
    }
}